@import "../../../styles/mixins";
@import "../../../styles/variables";

.error-notification {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 200px;
  background-color: rgba(32, 32, 32, 0.8);
  padding: 20px;
  box-shadow: 0 0px 15px 10px rgba(32, 32, 32, 0.8);
  border-radius: 10px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;

  transition: all $effectDuration;
  
  &--active {
    opacity: 1;
  }

  &__text {
    color: $error-color; 
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;
  }
}
