@import '../../../styles/keyframes';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.subscribe-for-event {
  background-color: black;
  padding: 80px 0;

  @include on-tablet {
    padding-top: 120px;
  }

  @include on-desktop {
    padding-top: 140px;
  }

  &__container {
    @include page-grid;

    row-gap: 80px;
  }

  &__shows {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__shows,
  &__classes,
  &__current-tickets {
    grid-column: 1 / -1;
  }

  &__selection {
    background: $white;
  }

  &__show {
    padding: 20px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: background-color 0.3s;


    &:hover {
      background-color: #b8b8b8;
    }

    &--selected {
      background-color: rgb(255, 212, 0);

      &:hover {
        background-color: rgb(193 163 14);
      }
    }
  }

  &__showname {
    font-weight: 700;
  }

  &__button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    background: $white;
    border: 1px solid black;
    color: black;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background: black;
      color: $white;
      border: 1px solid $white;
    }
  }

  &__tickets {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
  }

  &__changing-count {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: black;
    color: $white;
  }

  &__current-tickets {
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  &__current-ticket {
    color: black;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    background-color: $white;
    padding: 10px;
    border-radius: 8px;

  }

  &__delete {
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    transition: transform .3s,  opacity .3s;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-color: $white;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 1.5px;
      border-radius: 2px;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__current-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}