@keyframes fadeIn {
  from {
    opacity: 0; /* Початкова прозорість */
  }
  to {
    opacity: 1; /* Кінцева прозорість */
  }
}

@keyframes progressBarAnimation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}