$tablet-min-width: 744px;
$desktop-min-width: 1024px;

$header-hight-mob: 60px;
$header-hight-tab: 90px;

$gray-color: #b6b6b6;
$white: #fff;
$black: #000;
$black-text: #0E0E0F;
$burgundy-color: #771139;

$page-grid-gap-mob: 20px;
$page-grid-gap-desk: 30px;