$tablet-min-width: 744px;
$desktop-min-width: 1024px;
$wide-desktop-min-width: 1280px;

$header-hight-mob: 60px;
$header-hight-tab: 90px;

$gray-color: #b6b6b6;
$input-gray-color: #d4c9d9;
$white: #fff;
$black: #000;
$black-text: #0e0e0f;
$burgundy-color: #771139;
$error-color: #ff8181;

$page-grid-gap-mob: 20px;
$page-grid-gap-desk: 30px;

$effectDuration: 0.3s;
