@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.what-you-get {
  background: linear-gradient(180deg, rgb(119, 17, 57), rgb(0, 0, 0) 50.382%);

  &__container {
    padding-block: 45px 100px;

    @include on-tablet {
      padding-block: 80px 90px;
    }

    @include on-desktop {
      padding-block: 80px 200px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 70px;

    @include on-tablet {
      margin-bottom: 100px;
    }

    @include on-desktop {
      margin-bottom: 120px;
    }
  }

  // &__slider {
  //   display: flex;
  //   align-items: stretch;
  // }

  &__slide {
    box-sizing: border-box;
    padding: 20px 10px;
    background-color: $white;
    height: 174px;
    display: flex;
    align-items: center;
  }

  &__text {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: $black-text;
    line-height: 100%;
    letter-spacing: 3px;

    @include on-desktop {
      font-size: 18px;
    }
  }
}
