@import '../../../styles/keyframes';
@import '../../../styles/variables';
@import '../../../styles/mixins';

.subscribed-users {
  background: black;
  padding-top: 80px;

  @include on-tablet {
    padding-top: 144px;
  }

  @include on-desktop {
    padding-top: 230px;
  }

  &__container {
    @include page-grid;

    row-gap: 40px;
  }

  &__title {
    color: $white;
    grid-column: 1 / -1;
    text-align: center;
  }
}