@import '../../../../styles/mixins.scss';

.LoaderButton {
  margin: 0 auto;
  width: 200px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid;

  @include hover(border-color, $white);
  
  cursor: not-allowed;


  &__content {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 1em auto;
    border: 0.3em solid gray;
    border-left-color: #fff;
    animation: load8 1.2s infinite linear;
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}