@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.button {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 28px;
  padding: 17px 60px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  &__text {
    color: #000;
    font-size: 12px;

    @include on-tablet {
      font-size: 16px;
    }
  }

  &__shoe {
    width: 28px;
    height: 30px;
    background-image: url(../img/shoe.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
}