@import "../../../styles/keyframes";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.cabinet {
  background: linear-gradient(rgb(119, 17, 57), rgb(0, 0, 0) 50.382%);
  padding-top: 100px;
  padding-bottom: 80px;
  @include on-tablet {
    padding-top: 144px;
  }

  @include on-desktop {
    padding-top: 230px;
  }

  &__content {
    position: relative;

    @include page-grid;

    width: 100%;

    row-gap: 40px;
  }

  &__top-block,
  &__user-info {
    grid-column: 1 / -1;
  }

  &__top-block,
  &__title-block,
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    @include page-grid;

    row-gap: 90px;

    @include on-tablet {
      row-gap: 230px;
    }
  }

  &__content,
  &__main {
    grid-column: 1 / -1;
  }

  &__top-block {
    gap: 40px;

    @include on-tablet {
      gap: 60px;
    }
  }

  &__title-block {
    gap: 20px;

    @include on-tablet {
      flex-direction: row;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 8;
    }
  }

  &__subtitle {
    color: $white;
    font-size: 28px;
    font-weight: 500;

    @include on-tablet {
      font-size: 36px;
    }
  }

  &__user-field {
    text-transform: uppercase;
    color: $white;
    font-size: 14px;
    font-weight: 500;

    @include on-tablet {
      font-size: 16px;
    }

    @include on-desktop {
      font-size: 24px;
    }
  }

  &__user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-name {
    padding: 16px;
    font-weight: 700;
    border-radius: 10px;

    &:disabled {
      color: inherit;
    }

    @include on-desktop {
      font-size: 20px;
    }
  }

  &__submit,
  &__log-out {
    padding: 15px 0;

  }

  &__happy-mask {
    position: absolute;
    right: 0;
    bottom: -200px;
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__main {
    gap: 34px;

    @include on-tablet {
      gap: 50px;
    }

    @include on-desktop {
      grid-column: 1 / 9;
    }
  }

  &__main-title {
    color: $white;
    font-size: 24px;
    font-weight: 500;

    @include on-tablet {
      font-size: 32px;
    }
  }

  &__users-table {
    background-color: $white;
    grid-column: 1 / -1;
    text-align: center;
    border-radius: 18px;
    padding: 20px 40px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #a7a7a7;
    }


    @include on-tablet {
      grid-column: 3 / 5;
    }

    @include on-desktop {
      grid-column: 6 / 9;
    }
  }

  &__shows,
  &__allShows {
    @include page-grid;

    grid-column: 1 / -1;
  }

  &__shows {
    row-gap: 50px;
  }

  &__title,
  &__show {
    grid-column: 1 / -1;
  }

  &__show {
    width: 100%;
    display: flex;
    padding: 20px 10px;
    border-radius: 8px;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(119, 17, 57);
    color: $white;
    justify-content: space-between;


    @include on-tablet {
      grid-column: span 3;
      padding: 20px;
    }

    @include on-desktop{
      grid-column: span 4;
    }
  }

  &__show-img {
    width: 100%;
    height: 150px;
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
      opacity: 0.8;
    }

    @include on-tablet {
      height: 190px;
    }
  }

  &__allShows {
    row-gap: 30px;
  }

  &__show-label {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &__show-input {
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
  }

  &__show-submit {
    color: black;
    background-color: $white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color .3s, color .3s;

    &:hover {
      background-color: black;
      color: $white;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;

    @include on-tablet {
      padding: 40px;
      font-size: 22px;
    }
  }
  
  &__modal-content {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  
  &__modal p {
    margin: 0;
  }

  &__progress-bar {
    width: 100%;
    height: 5px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: progressBarAnimation 3s linear forwards; /* Анімація прогрес-бару */
  }
  


}