@import '../../../styles/variables';
@import '../../../styles/mixins';

.welcome {
  background-image: url('../../img/header/background1280.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 40px;

  @include on-tablet {
    padding-top: 144px;
  }

  @include on-desktop {
    padding-top: 230px;
  }

  @media (min-width: 1248px) {
    background-size: cover;
  }

  &__container,
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__container {
    gap: 92px;

    @include on-tablet {
      gap: 74px;
    }
  
    @include on-desktop {
      gap: 160px;
    }
  }

  &__content {
    gap: 50px;

    @include on-tablet {
      gap: 62px;
    }

    @include on-desktop {
      gap: 96px;
    }
  }

  &__title,
  &__subtitle {
    text-align: center;
    color: $white;
  }

  &__title {
    font-size: 34px;

    @include on-tablet {
      font-size: 36px;
    }

    @include on-desktop {
      font-size: 64px;
    }
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 22px;
    }

    @include on-tablet {
      font-size: 32px;
    }
  }

  &__button {
    width: 220px;
    height: 30px;
    align-self: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    @include on-tablet {
      width: 260px;
      height: 50px;
      font-size: 14px;
    }
  
    @include on-desktop {
      width: 300px;
      height: 64px;
      font-size: 14px;
    }

    &:hover {
      border: none;
    } 
  }
}