@import "../../../styles/variables";
@import "../../../styles/mixins";

.swiper-navigation {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;

  &__button {
    background-color: $white;
    height: 30px;
    width: 50%;
    transition: opacity .3s;

    font-size: 0;
    line-height: 0;

    position: relative;

    &:hover {
      opacity: .5;
    }

    &::before {
      width: 30px;
      height: 15px;
      display: block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--prev {
      left: 0;
      &::before {
        background-image: url("../../img/icons/arrow-left.svg");
      }
    }

    &--next {
      right: 0;
      &::before {
        background-image: url("../../img/icons/arrow-right.svg");
      }
    }
  }
}
