@import '../../../../../styles/keyframes';
@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.event-info {
  background-color: black;
  color: $white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 70;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 20px;
  transition: transform 0.3s;
  overflow-y: scroll;

  @include on-tablet {
    width: 400px;
  }

  &__content,
  &__prepare,
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__content {
    align-items: center;
    gap: 30px;
  }

  &__top {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
  }

  &__close {
    display: block;
    position: absolute;
    right: 0;
    justify-self: end;
    filter: grayscale(0) brightness(1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all  0.3s;
    width: 16px;
    height: 16px;
    background-image: url('../../../burgerMenu/img/IconClose.svg');

    &:hover {
      transform: scale(1.05);
      filter: grayscale(1) brightness(0.5);
    }
  }

  &__prepare {
    gap: 30px;
    align-items: center;
  }

  &__list {
    gap: 20px;
    padding-left: 20px;
  }

  &__item {
    list-style: disc;
  }

  &__button {
    background: $white;
    padding: 10px 40px;
    border-radius: 18px;
    border: 1px solid $white;
    transition: background-color 0.3s, color 0.3s, border 0.3s;

    &:not(:disabled):hover {
      background: $black;
      color: $white;
      border: 1px solid $white;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__price-title {
    font-weight: 700;
    text-align: center;
  }

  &__class-count {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__class-option {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s, opacity .3s;

    &:hover {
      background-color: gray;
      opacity: .5;
    }

    &--selected {
      background-color: white;
      color: black;
    }
  }

  &__pay-option {
    display: flex;
    gap: 20px;
  }

  &__pay {
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 700;
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: opacity .3s;

    &--selected {
      background-color: white;
      color: black;
      border: 1px solid transparent;
    }

    &:hover {
      opacity: .5;
    }
  }
}